<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
     <ion-button (click)="toggleMenu()"  color="success"> 
      <ion-icon name="menu" slot="icon-only"></ion-icon>
    </ion-button>
    </ion-buttons>
    <!-- -->
    <ion-title color="success" class="main-b-header6">{{bodyTitre}}</ion-title>
    <!-- -->
    <ion-buttons slot="end">
      <ion-button  routerLink="/fire-profile" routerDirection="forward">
        <ion-icon name="person-circle-outline" color="success">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- -->
    <ion-buttons slot="end">
      <ion-button  routerLink="/fire-message" routerDirection="forward">                
        <ion-icon name="chatbox-ellipses-outline" color="success"></ion-icon>
        <ion-badge class="badge-one" color="danger" *ngIf="msgs.length>0">{{ msgs.length }}</ion-badge>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button  (click)="logout()" routerLink="/login" routerDirection="forward">
        <ion-icon name="exit-outline" color="success">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

